@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Контактирајте не</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <p>Емаил адреса: info@movieticketapp.com</p>
        <p>Телефон: +389 70 123 456</p>
        <p>Социјални мрежи: <a href="#">Facebook</a> | <a href="#">Instagram</a> | <a href="#">Twitter</a></p>
    </address>
</main>