@{
    ViewBag.Title = "Welcome";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Продажба на билети за кино</h1>
        <p class="lead">Добредојдовте!</p>
    </section>

    <div class="row">
        <section>
            <p>Ова е нова апликација за менаџирање и продажба на билети за кино.</p>
            <p>Користете го навигациското мени за пребарување на филмови (Актуелни и Наскоро), купување билети и контакт.</p>
            <p>Доколку сакате да купите билет, прво треба да бидете регистрирани (Register), па потоа да се најавите (Log in) со вашето корисничко име и лозинка.</p>
        </section>
    </div>
</main>